#content {
	position: absolute;
	display: flex;
	align-items: stretch;
	/* 60px header */
	margin-top:60px;
	/* 320px right panel */
	margin-right:320px;
	/*margin-bottom:10px;*/
	flex-grow: 1;
	bottom: 0px;
	top: 0px;
}

#calendar_container {
	display: flex;
	align-items: stretch;
}

#calendar {
	padding: 2%;
}

.addEvent-form {
	line-height: 175%;
	padding: 10px;
	text-align: left;
}