html, body {
	width: 100%;
	height: 100%;
}

.container {
	position: absolute;
	top:60px;
	left: 0px;
	bottom: 0px;
	width: 90%;
	background-color: white;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.content {
	display: flex;
	height: auto;
	width: 100%;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	overflow: scroll;
	background-color:#E0E0E0;
}

.content_col {
	display: flex;
	flex-flow: row nowrap;
	width: calc(38% - 8px);
	height: auto;

	background-color: #E0E0E0;
	color:black;
	padding:3px 3px 3px 4px;
	border-left: 1px solid #9E9E9E;
	border-top: 1px solid #9E9E9E;
	font-family: 'Overlock', serif;
}

.content_col_text_container {
	display: flex;
	justify-content: flex-start;
	text: black;
	outline: none;
	width: 80%;
	font-family: 'Overlock', serif;
	color: black;
}

.content_col_button_container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-content: flex-end;
	width: 20%;
	color: black;
}

.content_end_button {
	display: inline-block;
	font-size: 16px;
	line-height: 1.8;
	width: 100%;
	height: 30px;
	background-color: #0c5a80;
	border-style: none;
	outline: none;
	cursor: pointer;
}

.content_end_button:active {
	background-color: #2795ee;
}

.button {
	color: red;
}

.button:hover {
	color: blue;
}

.edit_comment {
	background-color: #ffffff;
}

#player-name {
	width: calc(24% - 8px);
	border-left:none;
}

.feedback {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #9E9E9E;
	overflow:scroll;
}

.feedback-header {
	display: block;
	width: 100%;
	padding:3px 3px 3px 5px;
	/*font-family: 'Overlock', serif;*/
	color:black;
	border-top: 1px solid #757575;
}
.feedback-header:first-of-type {
	border-top: none;
}

.table-header {
	background-color: #E0E0E0;
	color:black;
	width: calc(38% - 8px);
	padding:3px 3px 3px 4px;
	font-size:20px;
	height:22px;
	border-left: 1px solid #9E9E9E;
	font-family: 'Overlock', serif;
	font-weight: bold;
}
#player-name-table-header {
	width: calc(24% - 8px);
	border-left:none;
	font-family: 'Overlock', serif;
}




