html, body {
	width: 100%;
	height: 100%;
	background-color: #fefefe;
}

.font_family {
	font-family: helvetica;
}

.container {
	position: absolute;
	top:60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #fefefe;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;

	border: 1px solid #627e8b;
}

.content {
	display: flex;
	height: auto;
	width:100%;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	overflow: scroll;
	background-color:#E0E0E0;

}

.content_col {
	display: flex;
	flex-flow: row nowrap;
	width: calc(38% - 8px);
	height: auto;

	background-color: #e3e6e8;
	color:black;
	padding:3px 3px 3px 4px;
	border-left: 1px solid #627e8b;
	border-top: 1px solid #627e8b;
	font-family: 'Overlock', serif;
}

.content_col_text_container {
	display: flex;
	justify-content: flex-start;
	text: black;
	width: 80%;
	font-family: 'Overlock', serif;
	color: black;
}

.content_col_button_container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-content: flex-end;
	width: 20%;
	padding-left: 5px;
	color: black;
}

.content_end_button {
	display: inline-block;
	font-size: 16px;
	line-height: 1.8;
	width: 100%;
	height: 30px;
	background-color: #0c5a80;
	border-style: none;
	outline: none;
	cursor: pointer;
}

.content_end_button:active {
	background-color: #2795ee;
}

.button {
	color: red;
}

.button:hover {
	color: blue;
}

.edit_comment {
	background-color: #ffffff;
}

#player-name {
	width: calc(24% - 7px);
	border-left:none;
}

.feedback {
	display: flex;
	flex-flow: row wrap;
	width: 25%;
	height: 100%;
	background-color: #; /*9E9E9E*/
	overflow:scroll;
}

.feedback_data {
	display: flex;
	width: calc(75% - 2px);
	height: 100%;
	background-color: #af1323;
	border-left: 2px solid #879ba3;

}

.feedback_card {
	display: flex;
	flex-flow: column wrap;
	position: relative;
	width: 100%;
	height: 100px;
	justify-content: center;
	/*align-content: center;*/
	/*background-color: blue;*/
	border-bottom: 1px solid #b8c3c8; /*ffac4d*/
}

.feedback_card_row {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	width: 100%;
	height: 30%;
	justify-content: flex-start;
	/*background-color: green;*/
	margin-top: 18px;
}

.feedback_card_opponent {
	display: flex;
	flex-flow: row nowrap;
	width: 60%;
	height: 100%;
	padding: 0px 0px 0px 10px;
	justify-content: flex-start;
	/*background-color: cyan;*/
	color: black;
	font-size: 17px;
}

.feedback_card_date {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	width: 40%;
	height: 100%;
	padding: 0px 5px 0px 0px;
	justify-content: flex-end;
	/*background-color: turquoise;*/
	color: #617F8B;
	font-family: 'Overlock', serif;
	font-size: 13px;
	margin-top: 4px;
}

.feedback_card_body {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 50%;
	/*justify-content: center;*/
	background-color: orange;
	padding: 0px 0px 0px 20px;
	color: black;
}

.feedback-header {
	display: block;
	width: 100%;
	padding:3px 3px 3px 5px;
	/*font-family: 'Overlock', serif;*/
	color:white;
	border-top: 2px solid #0c5a80;
	cursor: pointer;
}

.feedback-header:first-of-type {
	border-top: none;
}

.table-header {
	background-color: #b8c3c8; /*E0E0E0*/
	color:black;
	width: calc(38% - 8px);
	padding:3px 3px 3px 4px;
	font-size:20px;
	height:22px;
	border-left: 1px solid #627e8b;
	font-family: 'Overlock', serif;
	font-weight: bold;
}
#player-name-table-header {
	width: calc(24% - 7px);
	border-left:none;
	font-family: 'Overlock', serif;
}


#search-bar {
	width:100%;
	min-height:32px;
	font-size:14px;
	color:#617F8B;
	border-radius:5px;
	border: 0px;
	/*margin-bottom:10px;*/
	padding-left:5px;
	margin:8px;
	font-family: 'Overlock', serif;
	background-color: #E3E6E8;
}



