html, body {
	width: 100%;
	height: 100%;
	background-color: #fefefe;
}

.font_family {
	font-family: helvetica;
}

.container {
	position: absolute;
	top:60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #fefefe;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;

	border: 1px solid #627e8b;
}

.feedback {
	display: flex;
	flex-flow: row wrap;
	align-content:flex-start;
	width: 25%;
	height: 100%;
	overflow: scroll;
}

.feedback_data {
	display: flex;
	flex-flow: column nowrap;
	width: calc(75% - 2px);
	height: 100%;
	/*background-color: #af1323;*/
	justify-content: flex-start;
	border-left: 2px solid #879ba3;
	overflow-y: scroll;
}

.feedback_data_remove {

}

.feedback_data_player {
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
}

.feedback_data_title {
	width: 98%;
	height: 50px;
	border-bottom: 1px solid #b8c3c8;
	font-size: 20px;
	color: black;
	text-align: right;
	line-height:50px;
}

.feedback_data_row {
	display: flex;
	position: relative;
	flex-flow: row nowrap;
	justify-content: flex-start; /*center*/
	width: 100%;
	height: 30%;
	/*background-color: blue;*/
	flex-shrink: 0;
}

.feedback_card {
	display: flex;
	flex-flow: column wrap;
	position: relative;
	width: 100%;
	height: 75px;
	justify-content: center;
	border-bottom: 1px solid #b8c3c8; /*ffac4d*/
}

.feedback_card:first-of-type {
	border-top: 1px solid #b8c3c8;
}

.feedback_card_row {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	width: 100%;
	height: 30%;
	justify-content: flex-start;
	/*background-color: green;*/
	margin-top: 8px;
}

.feedback_card_element {
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
	justify-content: flex-start;
}

.feedback_card_body {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 50%;
	/*background-color: orange;*/
	padding: 0px 0px 0px 10px;
	/*color: black;*/
}

.feedback-header {
	display: block;
	width: 100%;
	padding:3px 3px 3px 5px;
	/*font-family: 'Overlock', serif;*/
	color:white;
	border-top: 2px solid #0c5a80;
	cursor: pointer;
}

.feedback-header:first-of-type {
	border-top: none;
}

.table-header {
	background-color: #b8c3c8; /*E0E0E0*/
	color:black;
	width: calc(38% - 8px);
	padding:3px 3px 3px 4px;
	font-size:20px;
	height:22px;
	border-left: 1px solid #627e8b;
	font-family: 'Overlock', serif;
	font-weight: bold;
}
#player-name-table-header {
	width: calc(24% - 7px);
	border-left:none;
	font-family: 'Overlock', serif;
}


#search-bar {
	width:100%;
	height:32px;
	font-size:14px;
	color:#617F8B;
	border-radius:5px;
	border: 0px;
	/*margin-bottom:10px;*/
	padding-left:5px;
	margin:8px;
	font-family: 'Overlock', serif;
	background-color: #E3E6E8;
}



