.content {
	position: absolute;
	left: 0px;
	top: 60px;
	left: 0;
	right: 320px;
	bottom: 0;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	background-color: #fefefe; /*e3e6e8 b8c3c8 eeeeee fff1e1 ebf7fd e9eaed*/
}

.first_element {
	margin-right: 9%;
}

.icon_href {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;

}

.row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 48%;
	width: 100%;
}

.big_button_icon {
	display:flex;
	flex-flow: column wrap;
	height: 90%;
	width: 90%;
	justify-content:center;
}

.icon-title {
	color: black;
}


