body, html, div {
	margin: 0px;
	padding: 0px;
	/*height: 100%;*/
}

body {
	/*display: flex;*/
	/*flex-direction: column;*/
	overflow: hidden;
}

* {
	font-family: 'Amaranth';
	color: white;
}

p, a {
	display: flex;
	margin: 0px;
	text-decoration: none;
	color: white;
	font-family: 'Overlock', serif;
	font-size: 20px;
}

.header_button {
	font-size: 1em;
	background-color: #3a87ad;
}

.disable_select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;

	display:flex;
	background-color: #3a87ad;
	align-items:center;
	justify-content:space-between;
	z-index: 5;

	border-bottom: 3px #054869 solid; /*02364f 054869 0c5a80*/
}

.header_buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row nowrap;

	height: 100%;
	width: 20%;
}

.header_expansion {
	position: absolute;
	top: 60px;
	right: 0;
	background-color: red;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;

	display: none;
}

.header_expansion_child {
	display: flex;
	height: 40px;
	padding: 5px 5px 0 5px;

	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: orange;
}

.header_expansion_child_events {
	width: 250px;
}

.header_expansion_child_feedback {
	width: 250px;
}

.header_expansion_child_account {
	width: 125px;
}


.dropdown_container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100%;
	width: 33.3333333%;

	cursor: pointer;
	border: none;
}

.menu_option {
	display: flex;

}

#home {
	font-size: 2.25em;
	padding-left: 20px;
}

#right-panel {
	position: absolute;
	display: flex;
	align-items: stretch;
	right: 0px;
	margin-top: 60px;
	top: 0px;
	bottom: 0px;
}

#right-panel-button {
	background: #0c5a80; /* 0c5a80 054869;*/
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#player-list {
	display:flex;
	flex-flow: column nowrap;
	background:#b8c3c8; /*bac1c4 bfc4c7 c5c8d3 e9eaed e0e0e0 ffd19c bce0f1 8cc3dd 5ca2c4;*/
	width:260px;
	overflow-y:scroll;
	padding:20px;
}

#search-bar {
	width:254px;
	min-height:32px;
	font-size:20px;
	color:gray;
	border-radius:5px;
	border: 0px;
	margin-bottom:10px;
	padding-left:5px;
	font-family: 'Overlock', serif;
}

select > .placeholder {
	display: none;
}

/* this styling code is from http://codepen.io/ericrasch/pen/zjDBx */
select#team-select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555; 
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 260px;
   min-height: 31px;
   box-shadow: none;
   font-family: 'Overlock', serif;
}

#team-members {
	margin-top:10px;
	bottom:0px;
	margin-bottom:20px;
	width:256px;
	padding:0;
	overflow:hidden;
	overflow-y:scroll;
	flex-grow:10;
	background-color:#fefefe; /*fefefe e9eaed eeeeee ffe2c0*/
	font-family: 'Overlock', serif;
}

#team-members li {
	padding-left:10px;
	padding-top:5px;
	padding-bottom:7px;
	color:black;
	font-family: 'Overlock', serif;
}

hr {
	height:2px;
	color: red; /*AAA*/
	background-color: #889aa3; 627e8b
	padding:0;
	margin:0;
	border:0px;
}

