body, html, div {
	margin: 0px;
	padding: 0px;
}

* {
	font-family:'Raleway', sans-serif;
}

p, a {
	margin:0px;
	text-decoration:none;
	color:black;
}

.header {
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	display:flex;
	background: #d5d5d5;
	align-items:center;
	justify-content:space-between;
	height:95px;
	border-bottom: 5px solid #BDBDBD;
}

#home {
	color:black;
	font-size:80px;
	padding-left:20px;
}

#header-buttons {
	display:flex;
	align-items:center;
}

.header-button {
	color: black;
	float:right;
	height:60px;

	font-size:25px;
	text-align:center;

	border:1px solid gray;
	padding-top:2px;
	padding-bottom:2px;
	margin-right: 8px;
	background-color:#e6e6e6;
	border-radius:4px;
}

#event-updates {
	width:110px;
}

#feedback-updates {
	width:125px;
}

#triangle-menu {
	width: 35px;
	height: 32px;
	padding-bottom:0px;
}

/*.dropdown-content {
	background: white;
	list-style: none;
	position:absolute;
	left:-9999px;
}
.dropdown-content li {
	padding-top:1px;
	float: none;
}
.dropdown-content a {
	white-space:nowrap;
}*/



#right-panel {
	display:flex;
	align-items:stretch;
	position:fixed;
	right:0px;
	margin-top:100px;
	top:0px;
	bottom:0px;
}

#right-panel-button {
	background:#BDBDBD;
	width:20px;
	display:flex;
	align-items:center;
	justify-content:center;
}

#player-list {
	background:#E0E0E0;
	width:260px;
	overflow-y:scroll;
	padding:20px;
}

#search-bar {
	width:254px;
	height:35px;
	font-size:20px;
	color:gray;
	border-radius:5px;
	margin-bottom:10px;
}

select > .placeholder {
	display: none;
}

/* this styling code is from http://codepen.io/ericrasch/pen/zjDBx */
select#team-select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 260px;
}











ul {
	list-style-type: none;
}