body, html, div {
	margin: 0px;
	padding: 0px;
}

p, a {
	margin:0px;
	font-family:'Raleway', sans-serif;
	text-decoration:none;
	color:black;
}

.header {
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	display:flex;
	background: #d5d5d5;
	align-items:center;
	justify-content:space-between;
	height:100px;
}

#home {
	color:black;
	font-size:80px;
	padding-left:20px;
}

#header-buttons {
	display:flex;
	align-items:center;
}

.header-button {
	color: black;
	float:right;
	height:60px;

	font-size:25px;
	text-align:center;

	border:1px solid gray;
	padding-top:2px;
	padding-bottom:2px;
	margin-right: 8px;
	background-color:#e6e6e6;
	border-radius:4px;
}

#event-updates {
	width:110px;
}

#feedback-updates {
	width:125px;
}

#triangle-menu {
	width: 35px;
	height: 32px;
	padding-bottom:0px;
}

/*.dropdown-content {
	background: white;
	list-style: none;
	position:absolute;
	left:-9999px;
}
.dropdown-content li {
	padding-top:1px;
	float: none;
}
.dropdown-content a {
	white-space:nowrap;
}*/



#right-panel {
	display:flex;
	align-items:stretch;
	position:fixed;
	right:0px;
	margin-top:100px;
	top:0px;
	bottom:0px;
}

#right-panel-button {
	background:#BDBDBD;
	width:20px;
	display:flex;
	align-items:center;
	justify-content:center;
}

#player-list {
	background:#E0E0E0;
	width:300px;
	overflow-y:scroll;
}

ul {
	list-style-type: none;
}