.content {
	position: absolute;
	left: 0px;
	top: 60px;
	left: 0;
	right: 0px;
	bottom: 0;
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.content > img {
	height: 400px;
	margin:20px;
}

.content > div {
	margin:20px;
}

.content > div > p{
	color: black;
	font-size: 40px;
}

/*
.content p, a, h1 {
	color:black;
}
.content > div > p {
	font-size: 2.5em;
}
.large {
	font-size: 1.75em;
	font-weight: bold;
}
.small {
	font-size: 1.25em;
}

.content {
	padding: 30px;
	display:flex;
}

#profile-picture {
	height:300px;
	border:1px solid black;
	margin-right:10px;
}

hr {
	margin-bottom:8px;
}

#profile-info {
	flex-grow:10;
}*/