<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - Events</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
<link rel="stylesheet" href="./../css/events.css" />
<link rel='stylesheet' href='./../fullcalendar-2.6.1/fullcalendar.css' />

</head>

<body>

<div class="header disable_select">
	<p><a id="home" href="./index.html">Trackr</a></p>
	<div class="header_buttons">
		<div class="dropdown_container header_button" id="header_events">
 			Events
 		</div>
 		<div class="dropdown_container header_button" id="header_feedback">
			Feedback
		</div>
		<div class="dropdown_container header_button" id="header_account">
			<!-- Triangle Down -->
			<p class="menu_option">&#9662;</p>
		</div>
	</div>
</div>

<div class="header_expansion">

</div>

<div id="content">
	<div id="calendar">
	</div>
</div>




<!-- Right Panel -->
<!-- <div id="right-panel">
	<div id="right-panel-button" class="open">
		<span id="right-panel-triangle">
	</div>
	<div id="player-list">
		<input type="text" id="search-bar" value="🔍 Search..."></input>
		
		<select required id="team-select">
			<option class="placeholder" selected disabled value="">Team:</option>
		</select>
		
		<ul id="team-members">

		</ul>
	</div>
</div> -->

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="./../js/header.js"></script>
<script src='./../fullcalendar-2.6.1/lib/moment.min.js'></script>
<script src='./../fullcalendar-2.6.1/fullcalendar.js'></script>
<script type='text/javascript' src='./../fullcalendar-2.6.1/gcal.js'></script>

<script type="text/javascript" src="./../js/index.js"></script>
<script type="text/javascript" src="./../js/events.js"></script>
<script type="text/javascript">

	$(document).ready(function() {


	    $('#calendar').fullCalendar({
	    	timezone: "local",
	    	fixedWeekCount: false, // makes calendar just display the weeks in that month

	        header:  {
	        	left: 'prev,next today',
	        	center: 'title',
	        	right: 'addEvent month,agendaWeek,agendaDay'
	        },

	        eventClick: function(event) {
	        	if (event.url) return false; // don't allow redirection to source website of events
	        	// TODO: call eventClick function here to show summary of event details and to edit the event
	        },

	        dayClick: function(event) {
	        	// showAddEventPopover($(this));
	        	// TODO: call function that brings out the week schedule?
	        },

	        selectable: true,
	        // selectHelper: true,
	        select: function(start, end, jsEvent, view) {
	        	console.log($(jsEvent.target).parent());
	        	console.log(view);
	        	console.log(this.el);
	        	console.log(this.el.get());
	        	// showAddEventPopover($(jsEvent.target));
	        	// $('#startDate').
				// var title = prompt('Event Title:');
				var eventData;
				if (true) {
					eventData = {
						title: "Event Name",
						start: start,
						end: end
					};
					var event = $('#calendar').fullCalendar('renderEvent', eventData, false); // stick? = true

					// showAddEventPopover($(event[0]));
				}
				$('#calendar').fullCalendar('unselect');
			},

			editable: true, //for drag and drop
			eventLimit: true, //more link shows up when there are too many events

	        googleCalendarApiKey: 'AIzaSyCX_A2rKiGZ4wo6LXNyJZ7WCK64SSqVSqU',
            events: {
            	editable: true,
                googleCalendarId: '3qff5g4q570qkmhdo6546mpt5o@group.calendar.google.com', //6.813 class calendar
            },

            customButtons: {
            	addEvent: {
            		id: 'test',
	            	text: 'Add Event',
	            	click: function(e) {
						showAddEventPopover($(this));

    					return false;
		            }
		        }
            }
	        
	    });
	    $(".fc-addEvent-button").attr('id', 'addEvent-button');
	    $(".fc-addEvent-button").css({'background-color': '#990000', 'background-image': 'none', 'color': 'white'});
	    // $(".fc-day-grid-contianer").attr('id', '')



	});


</script>

</body>

</html>