<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - Events</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

<link rel='stylesheet' href='./../fullcalendar-2.6.1/fullcalendar.css' />
<link rel='stylesheet' href='./../fullcalendar-2.6.1/fullcalendar.print.css' media='print'/>
<link rel="stylesheet" href="./../css/events.css" />
<link rel="stylesheet" href="./../css/mainLayout.css" />

</head>

<body>

<div class="header disable_select">
	<p><a id="home" href="./index.html">Trackr</a></p>
	<div class="header_buttons">
		<div class="dropdown_container header_button" id="header_events">
 			Events
 		</div>
 		<div class="dropdown_container header_button" id="header_feedback">
			Feedback
		</div>
		<div class="dropdown_container header_button" id="header_account">
			<!-- Triangle Down -->
			<p class="menu_option">&#9662;</p>
		</div>
	</div>
</div>

<div class="header_expansion">

</div>

<div class="content disable_select">
	<div id="calendar_container">
		<div id="calendar">
		</div>
	</div>
</div>

<div id="right-panel">
	<div id="right-panel-button" class="right-panel-open">
		<span id="right-panel-triangle">
	</div>
	<div id="player-list">
		<input type="text" id="search-bar" value="🔍 Search..." onKeyPress="searchKeyPress()" onKeyUp="searchKeyPress()"></input>

		<select required id="team-select">
			<option class="placeholder" selected disabled value="">Team:</option>
		</select>

		<ul id="team-members">
			<li style="padding:15px;font-size:27px;text-align:center;color:grey;">Select a team above to view members</li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='./../fullcalendar-2.6.1/lib/moment.min.js'></script>
<script src='./../fullcalendar-2.6.1/fullcalendar.js'></script>
<script type='text/javascript' src='./../fullcalendar-2.6.1/gcal.js'></script>

<script type="text/javascript" src="./../js/header.js"></script>
<script type="text/javascript" src="./../js/events.js"></script>
<script type="text/javascript" src="./../js/calendar.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="./../data/data.json"></script>
<script type="text/javascript">

$("#right-panel-button").html("◀").removeClass('right-panel-open').addClass('right-panel-closed');
$("#right-panel").css('right', '-300px');
$(".content").css('right', '20px');


</script>

</body>

</html>