<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - Events</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel='stylesheet' href='./../fullcalendar-2.6.1/fullcalendar.css' />
<link rel='stylesheet' href='./../fullcalendar-2.6.1/fullcalendar.print.css' media='print'/>
<link rel="stylesheet" href="./../css/events.css" />
<link rel="stylesheet" href="./../css/mainLayout.css" />

</head>

<body>

<div class="header disable_select">
	<p><a id="home" href="./index.html">Trackr</a></p>
	<div class="header_buttons">
		<div>
			<a href="./profile.html">
				<img src="./../images/profile.png" class="small_button_icon">
			</a>
		</div>
		<div>
			<a href="./feedback_other.html">
				<img src="./../images/feedback.png" class="small_button_icon">
			</a>
		</div>
		<div>
			<a href="./events.html">
				<img src="./../images/events.png" class="small_button_icon">
			</a>
		</div>
		<div>
			<a href="./settings.html">
				<img src="./../images/settings.png" class="small_button_icon">
			</a>
		</div>

		<div class="dropdown_container header_button" id="header_events">
 			Event<br>Updates
 		</div>
 		<div class="dropdown_container header_button" id="header_feedback">
			Feedback<br>Updates
		</div>
		<div class="dropdown_container header_button" id="header_account">
			<!-- Triangle Down -->
			&#9662;
		</div>
	</div>
</div>

<div class="header_expansion">

</div>

<div class="content disable_select">
	<div id="calendar_container">
		<div id="calendar">
		</div>
	</div>
</div>

<!-- modal for adding events -->
<!-- this part needs to appear last so that it always appear above all other objects -->
<div class="modal" id="event_modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Event Details</h4>
			</div>
			<div class="modal-body"> 
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="event_day_timeline_container">
						<div id="event_day_timeline">
							<!-- calendar day view -->
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="event_details">
						<!-- event details form -->
						<div class="addEvent-dialog" id="addEvent-dialog-text">
							<form id="add_event" action="javascript:addEvent(\'' + popoverId + '\');" class="form-horizontal">
								<label for="name" class="control-label">Event Name: </label>
								<input type="text" class="form-control" name="name" id="name" required autofocus=true/>
				                <div class="form-group">
				                	<div class="row">
				                		<label for="startDate" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6">Start Date:</label>
				                		<label for="startTime" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6">Start Time:</label>
				                	</div>
				                	<div class="row time-group">
				                		<input type="text" class="form-control col-xs-6 col-sm-6 col-md-6 col-lg-6" name="date" id="startDate" required/>
				                		<input type="time" class="form-control col-xs-6 col-sm-6 col-md-6 col-lg-6 time" name="time" id="startTime" required/>
				                	</div>
				                </div>
				                <div class="form-group">
				                	<div class="row">
				                		<label for="endDate" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6">End Date:</label>
				                		<label for="endTime" class="control-label col-xs-6 col-sm-6 col-md-6 col-lg-6">End Time:</label>
				                	</div>
				                	<div class="row time-group">
				                		<input type="text" class="form-control col-xs-6 col-sm-6 col-md-6 col-lg-6" name="date" id="endDate"/>
				                		<input type="time" class="form-control col-xs-6 col-sm-6 col-md-6 col-lg-6 time" name="time" id="endTime"/>
				                	</div>
				                </div>
								<div class="form-group">
									<label for="location" class="control-label">Location: </label>
									<input type="text" class="form-control" name="location" id="location"/>
								</div>
								<div class="form-group">
									<label for="share" class="select-label control-label">Share with: </label>
									<select class="form-control" name="teams" value:"Select Team/s">
				                        <option value="">None</option>
										<option value="">Gymnastics</option>
										<option value="">Soccer</option>
										<option value="">Tennis</option>
									  <!-- <option value="">generate list of teams</option> -->
									</select>
								</div>
								<div class="checkbox form-group">
									<label for="request" class="control-label"><input type="checkbox" name="request" id="request"/>Request Feedback</label>
								</div>
								<!-- hidden submit button which is called when Save button of modal is clicked -->
								<input type="submit" value="Save and Share" id="event_submit" style="display: none;">
							</form>
						</div>
					</div>
				</div>

			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  data-dismiss="modal" -->
				<button type="button" class="btn btn-default" data-dismiss="modal" id="delete" align="left">Delete Event</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" onclick="javascript:$('#event_submit').click()" form="add_event" id="save_submit">Save changes</button>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="./../data/data.json"></script>
<script src='./../fullcalendar-2.6.1/lib/moment.min.js'></script>
<script src='./../fullcalendar-2.6.1/fullcalendar.js'></script>
<script type='text/javascript' src='./../fullcalendar-2.6.1/gcal.js'></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript" src="./../js/header.js"></script>
<script type="text/javascript" src="./../js/events.js"></script>
<script type="text/javascript" src="./../js/calendar.js"></script>


<script src="./../data/data.json"></script>
<script src="./../data/events.json"></script>

<script type="text/javascript">

$("#right-panel-button").html("◀").removeClass('right-panel-open').addClass('right-panel-closed');
$("#right-panel").css('right', '-300px');
$(".content").css('right', '20px');


</script>

</body>

</html>