<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - Feedback</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
<link rel="stylesheet" href="./../css/feedback_other.css" />
</head>

<body>
<div class="header disable_select">
	<p><a id="home" href="./index.html">Trackr</a></p>
	<div class="header_buttons">
		<div class="small-button">
			<a href="./profile.html">
				<img src="./../images/profile_white.png" class="small-button-icon">
			</a>
		</div>
		<div class="small-button">
			<a href="./feedback_other.html">
				<img src="./../images/feedback_white.png" class="small-button-icon">
			</a>
		</div>
		<div class="small-button">
			<a href="./events.html">
				<img src="./../images/events_white.png" class="small-button-icon">
			</a>
		</div>
		<div class="small-button">
			<a href="./settings.html">
				<img src="./../images/settings_white.png" class="small-button-icon">
			</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="feedback_container">
		<div class="search_container">
			<input class="feedback_search" type="text" id="search-bar" value="🔍 Search by team, location, or date" onKeyPress="searchKeyPress()" onKeyUp="searchKeyPress()"></input>
		</div>
		<div class="feedback" id="feedback_events">
		</div>
	</div>
	<div class="feedback_data_container">
		<div class="feedback_data_title" id="body_title">
			<div class="empty_div">Bye</div>
		</div>
		<div class="feedback_data" id="feedback_data_cols">
		</div>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="./../js/header.js"></script>

<script type="text/javascript" src="./../data/events.json"></script>
<script src='./../fullcalendar-2.6.1/lib/moment.min.js'></script>
<script type="text/javascript" src="./../js/feedback_other.js"></script>


<script type="text/javascript">

</script>

</body>

</html>