<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
<link rel="stylesheet" href="./../css/homepage.css" />
</head>

<body>

<header class="header">
	<p style="float:left;"><a id="home" href="./index.html">Trackr</a></p>
	<div id="header-buttons">
		<div id="event-updates" class="header-button"><p>Event Updates</p></div>
		<div id="feedback-updates" class="header-button"><p>Feedback Updates</p></div>
		<div id="triangle-menu" class="header-button closed">
			<p id="triangle">▼</p>
			<!-- I tried making a drop down menu but I failed -->
<!-- 			<ul id="triangle-menu-content" class="dropdown-content">
				<li><a href="#">Account</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Log Out</a></li>
			</ul> -->
		</div>
	</div>
</header>

<div id="content">
	<div class="row">
		<a href="./profile.html" id="profile-button" class="big-button">
			<img src="./../images/profile.jpg" style="max-width:100%;height:calc(100% - 20px);">
			<p class="big-button-text">My Profile</p>
		</a>
		<a href="./feedback.html" id="feedback-button" class="big-button">
			<img src="./../images/feedback.jpg" style="max-width:100%;height:calc(100% - 20px);">
			<p class="big-button-text">Feedback</p>
		</a>
	</div>
	<div class="row">
		<a href="./events.html" id="events-button" class="big-button">
			<img src="./../images/events.jpg" style="max-width:100%;height:100%;">
			<p class="big-button-text">Events</p>
		</a>
		<a href="./settings.html" id="settings-button" class="big-button">
			<img src="./../images/settings.jpg" style="max-width:100%;height:100%;">
			<p class="big-button-text">Settings</p>
		</a>
	</div>
</div>













<!-- Right Panel -->
<div id="right-panel">
	<div id="right-panel-button" class="open">
		<span id="right-panel-triangle">
	</div>
	<div id="player-list">
		<ul>
			<li>Player A</li>
			<li>Player B</li>
			<li>Player C</li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

	// $("#triangle-menu").click(function (e) {
	// 	if ($(this).hasClass('closed')) {
	// 		$("#triangle-menu-content").css({
	// 			'left':'auto',
	// 			'right':'0',
	// 		});
	// 		$(this).removeClass('closed').addClass('open');
	// 		$("#triangle").html("▲")
	// 	} else {
	// 		$("#triangle-menu-content").css({
	// 			'left':'-9999px',
	// 		});
	// 		$(this).removeClass('open').addClass('closed');
	// 		$("#triangle").html("▼")
	// 	}
	// });




	var right_panel_width = 300;
	$("#right-panel-triangle").html("▶");
	$("#right-panel-button").click(function (e) {
		if ($(this).hasClass('open')) {
			$("#right-panel").animate({
				right: "-=" + right_panel_width
			}, 700, function(){
				// animation complete
			});

			// I tried to make the buttons resize here, but it does something weird

			// attempt #1, without animations
			$("#content").css("margin-right", '20px');

			// attempt #2, with animations
			// $("#content").animate({
			// 	"margin-right": "-=" + right_panel_width + 20
			// }, 700, function(){
			// 	// animation complete
			// });
			$(this).html("◀").removeClass('open').addClass('closed');
		} else {
			$("#right-panel").animate({
				right: "+=" + right_panel_width
			}, 700, function(){
				// animation complete
			});

			$("#content").css("margin-right", right_panel_width + 20 + 'px');

			// $("#content").animate({
			// 	"margin-right": "+=" + right_panel_width + 20
			// }, 700, function(){
			// 	// animation complete
			// });
			$(this).html("▶").removeClass('closed').addClass('open');
		}

	});

});
</script>













</body>

</html>