<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
<link rel="stylesheet" href="./../css/index.css" />
</head>

<body>

<div class="header disable_select">
	<p><a id="home" href="./index.html">Trackr</a></p>
	<div class="header_buttons">
		<div class="dropdown_container header_button" id="header_events">
 			Events
 		</div>
 		<div class="dropdown_container header_button" id="header_feedback">
			Feedback
		</div>
		<div class="dropdown_container header_button" id="header_account">
			<!-- Triangle Down -->
			&#9662;
		</div>
	</div>
</div>

<div class="header_expansion">

</div>

<div class="content disable_select">
	<div class="row">
		<a href="./profile.html" class="icon_href first_element" id="profile-button">
			<img src="./../images/profile.png" class="big_button_icon">
			<p class="icon-title">My Profile</p>
		</a>
		<a href="./feedback.html" class="icon_href" id="feedback-button">
			<img src="./../images/feedback.png" class="big_button_icon">
			<p class="icon-title">Feedback</p>
		</a>
	</div>
	<div class="row">
		<a href="./events.html" class="icon_href first_element" id="feedback-button">
			<img src="./../images/events.png" class="big_button_icon">
			<p class="icon-title">Events</p>
		</a>
		<a href="./settings.html" class="icon_href" id="feedback-button">
			<img src="./../images/settings.png" class="big_button_icon">
			<p class="icon-title">Settings</p>
		</a>
	</div>
</div> 

<div id="right-panel">
	<div id="right-panel-button" class="right-panel-open">
		<span id="right-panel-triangle">
	</div>
	<div id="player-list">
		<input type="text" id="search-bar" value="🔍 Search..." onKeyPress="searchKeyPress()" onKeyUp="searchKeyPress()"></input>

		<select required id="team-select">
			<option class="placeholder" selected disabled value="">Team:</option>
		</select>

		<ul id="team-members">
			<li style="padding:15px;font-size:27px;text-align:center;color:grey;">Select a team above to view members</li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="./../js/header.js"></script>
<script type="text/javascript" src="./../js/index.js"></script>

<script type="text/javascript">

</script>

</body>

</html>