<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - My Profile</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
<link rel="stylesheet" href="./../css/profile.css" />
</head>

<body>

<div class="header disable_select">
	<p><a id="home" href="./index.html" style="font-family: 'Amaranth', serif">Trackr</a></p>
	<div class="header_buttons">
		<div class="dropdown_container header_button" id="header_events" style="font-family: 'Amaranth', serif">
 			Events
 		</div>
 		<div class="dropdown_container header_button" id="header_feedback" style="font-family: 'Amaranth', serif">
			Feedback
		</div>
		<div class="dropdown_container header_button" id="header_account">
			<!-- Triangle Down -->
			<p class="menu_option">&#9662;</p>
		</div>
	</div>
</div>

<div class="header_expansion">

</div>

<div class="content">

	<div>
		<img src='./../images/curry.jpg' />
		<div>
			<p class="large">Contact Details</p>
			<hr>
			<p class="small">Email: curry@mit.edu</p>
			<p class="small">Phone: (703) 267-4620</p>
		</div>
	</div>

	<div id="profile-info">
		<p>Coach Curry</p>
		<hr>
		<div>
			<p>Manages blah blah blah</p>
		</div>
	</div>

</div>




<!-- Right Panel -->
<div id="right-panel">
	<div id="right-panel-button" class="open">
		<span id="right-panel-triangle">
	</div>
	<div id="player-list">
		<input type="text" id="search-bar" value="🔍 Search..."></input>
		
		<select required id="team-select">
			<option class="placeholder" selected disabled value="">Team:</option>
		</select>
		
		<ul id="team-members">

		</ul>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="./../js/header.js"></script>

<script type="text/javascript">

</script>

</body>

</html>