<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - My Profile</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
</head>

<body>

<header class="header">
	<p style="float:left;"><a id="home" href="./index.html">Trackr</a></p>
	<div id="header-buttons">
		<ul class="header-button-list">
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn" id="event-button" onclick="dropdown('event-updates')">Event<br>Updates</a>
				<div class="dropdown-content" id="event-updates">
					<a href="#">Event 1</a>
					<a href="#">Event 2</a>
					<a href="#">Event 3</a>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn" id="feedback-button" onclick="dropdown('feedback-updates')">Feedback<br>Updates</a>
				<div class="dropdown-content" id="feedback-updates">
					<a href="#">Feedback 1</a>
					<a href="#">Feedback 2</a>
					<a href="#">Feedback 3</a>
				</div>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn" id="triangle-button" onclick="dropdown('triangle-menu')">▼</a>
				<div class="dropdown-content" id="triangle-menu">
					<a href="#">Account</a>
					<a href="#">Settings</a>
					<a href="#">Log Out</a>
				</div>
			</li>
		</ul>
	</div>
</header>

<div id="content">

</div>




<!-- Right Panel -->
<div id="right-panel">
	<div id="right-panel-button" class="open">
		<span id="right-panel-triangle">
	</div>
	<div id="player-list">
		<input type="text" id="search-bar" value="🔍 Search..."></input>
		
		<select required id="team-select">
			<option class="placeholder" selected disabled value="">Team:</option>
		</select>
		
		<ul id="team-members">

		</ul>
	</div>
</div>

<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="./../js/header.js"></script>

<script type="text/javascript">

</script>

</body>

</html>