<!DOCTYPE html>

<!--
  GR4 - Trackr
  Czarina Lao, Veronica Lee, Jing Lin, Sam Song
-->
<html>

<head>
<meta charset="UTF-8">
<title>Trackr - Settings</title>

<!-- Load style sheets -->
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../css/mainLayout.css" />
<link rel="stylesheet" href="./../css/settings.css" />
</head>

<body>

<div class="header disable_select">
	<p><a id="home" href="./index.html">Trackr</a></p>
	<div class="header_buttons">
		<div class="small-button">
			<a href="./profile.html">
				<img src="./../images/profile_white.png" class="small-button-icon">
			</a>
		</div>
		<div class="small-button">
			<a href="./feedback_other.html">
				<img src="./../images/feedback_white.png" class="small-button-icon">
			</a>
		</div>
		<div class="small-button">
			<a href="./events.html">
				<img src="./../images/events_white.png" class="small-button-icon">
			</a>
		</div>
		<div class="small-button">
			<a href="./settings.html">
				<img src="./../images/settings_white.png" class="small-button-icon">
			</a>
		</div>

		<div class="dropdown_container header_button" id="header_events">
 			Event<br>Updates
 		</div>
 		<div class="dropdown_container header_button" id="header_feedback">
			Feedback<br>Updates
		</div>
		<div class="dropdown_container header_button" id="header_account">
			<!-- Triangle Down -->
			&#9662;
		</div>
	</div>
</div>

<div class="header_expansion">

</div>

<div class="content">
	<img src='./../images/oops.png'/>
	<div>
		<p>Oops! Sorry, this page is not implemented yet.</p>
	</div>
</div>



<script type="text/javascript" src="./../external_js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="./../js/header.js"></script>

<script type="text/javascript">

</script>

</body>

</html>